<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2 style="margin-left: 450px; padding: 10px">
      Sélectionnez un design de carte de visite
    </h2>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-block" [routerLink]="['../add-card', 2]">
            <img
              class="custom-image-style"
              img
              src="../../../assets/img/theme2.png"
            />
          </div>
          <div class="card card-block" [routerLink]="['../add-card', 1]">
            <img
              class="custom-image-style"
              img
              src="../../../assets/img/theme1.png"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>