<div class="container" style="margin-left: 450px">
  <div class="row">
    <form class="col-md-6">
      <div class="form-group">
        <label>Nom :</label>
        <input class="form-control" name="Name" [(ngModel)]="card.name" />
      </div>
      <div class="form-group">
        <label>Travail :</label>
        <input class="form-control" name="Title" [(ngModel)]="card.title" />
      </div>
      <div class="form-group">
        <label>Email :</label>
        <input
          type="email"
          class="form-control"
          name="Email"
          [(ngModel)]="card.email"
        />
      </div>
      <div class="form-group">
        <label>Téléphone :</label>
        <input class="form-control" name="Phone" [(ngModel)]="card.phone" />
      </div>
      <div class="form-group">
        <label>Adresse :</label>
        <input class="form-control" name="Adr" [(ngModel)]="card.adr" />
      </div>
      <div class="form-group">
        <label>LinkedIn :</label>
        <input
          class="form-control"
          name="LinkedIn"
          [(ngModel)]="card.linkedin"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="addCard()"
        style="margin-left: 210px"
      >
        Submit
      </button>
    </form>
  </div>
  <div></div>
</div>
